<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="devsunset.simple.random.chat">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name="devsunset.simple.random.chat.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="devsunset.simple.random.chat.MessageContent"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="devsunset.simple.random.chat.LockActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:screenOrientation="portrait"/>
        <activity
            android:name="devsunset.simple.random.chat.LockSettingActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:screenOrientation="portrait"/>
        <activity
            android:name="devsunset.simple.random.chat.ChatActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="devsunset.simple.random.chat.WebViewActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="devsunset.simple.random.chat.ChatUploadActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="devsunset.simple.random.chat.ChatDownloadActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <!-- [START firebase_service] -->
        <service android:name=".modules.fcmservice.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>